### Ejercicios

Pueden haber diferentes formas de resolver las siguientes cuestiones plantedas, nunca existe una única forma de hacer las cosas, ¿cúal es la tuya? ;)

#### Import pandas as pd

In [11]:
import pandas as pd

#### Importa el archivo de salarios y llámalo df_sal

In [12]:
df_sal = pd.read_csv('Salaries.csv')

#### Muestra las primeras líneas del dataframe

In [14]:
df_sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

#### Obtén la información de las variables

In [15]:
df_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

#### ¿Cual es la media de TotalPayBenefits?

In [29]:
df_sal['TotalPayBenefits'].mean()

93692.55481056834

#### ¿Cual es el máximo del TotalPay?

In [22]:
df_sal['TotalPay'].max()

567595.43

#### De las agency de San Francisco, ¿cual es el promedio de TotalPay?

In [7]:
df_sal[df_sal['Agency']=='San Francisco']['TotalPay'].mean()

74768.321971703

#### ¿Cual es el empleo de Joanne Hayes-White?

In [34]:
df_sal[df_sal['EmployeeName']=='JOANNE HAYES-WHITE']['JobTitle']

9    CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
Name: JobTitle, dtype: object

#### ¿Quien es el empleado mejor pagado (incluyendo beneficios)?

In [35]:
df_sal[df_sal['TotalPayBenefits'] == df_sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

#### ¿Cuántos empleados hay?

In [36]:
df_sal['Id'].nunique()

148654

#### ¿Cuales son los 5 empleos más comunes?

In [37]:
df_sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

#### ¿Cuantas personas tienen en su empleo la palabra 'captain'?

In [38]:
def chief_string(title):
    if 'captain' in title.lower():
        return True
    else:
        return False

In [39]:
sum(df_sal['JobTitle'].apply(lambda x: chief_string(x)))

552

#### ¿Cuántos títlos únicamente se han repetido 1 vez en el año 2013?

In [40]:
sum(df_sal[df_sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

#### ¡Para lucirse! ¿Hay correlación entre la longitud del empleo y el salario?

In [41]:
df_sal['title_len'] = df_sal['JobTitle'].apply(len)

In [42]:
df_sal[['title_len','TotalPayBenefits']].corr() # La respuesta es que no.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000